// PALETA DE COLORES

// Colores principales
$color-1: #000640;
$color-2: #8D741B;

// Colores secundarios
$color-3: #64B8EB;
$color-4: #DEC054;
$color-5: #FFF2C6;

$color-white: #fff;
$color-black: #000;
$color-grey: #ECECEC;