// fuentes
@font-face {
	font-family: 'catamaran-regular';
	src: url('../resources/fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'catamaran-semibold';
	src: url('../resources/fonts/Catamaran/Catamaran-SemiBold.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'catamaran-bold';
	src: url('../resources/fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'catamaran-light';
	src: url('../resources/fonts/Catamaran/Catamaran-Light.ttf') format('truetype');
	font-weight: light;
}