// fuentes
$font-main: 'catamaran-regular', sans-serif;
$font-semibold: 'catamaran-semibold', sans-serif;
$font-bold: 'catamaran-bold', sans-serif;
$font-light: 'catamaran-light', sans-serif;

// texto
$titulo-size: 1.25rem;

// bordes
$border-radius: 1rem;
$border: 1px solid #000640; 